html{
    scroll-behavior:smooth;
}

.hero{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        135deg,
        #28a745,
        #ffc107
    );

    color:white;
}

.card{
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}